<h1>Here are your bookmarks</h1>
<ul>
<% @bookmark_list.each do |bookmark| %>
  <li>
    <a href ="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit"/>
      </form>
      <h3>Comments</h3>
      <ul>
      <% bookmark.comments.each do |comment| %>
        <li> <%= comment.text %></li>
        <% end %>
      </ul>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add comment"/>
      </form>
      <h3>Tags</h3>
      <ul>
      <% bookmark.tags.each do |tag| %>
        <li> <%= tag.content %></li>
        <% end %>
      </ul>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add tag"/>
      </form>
    </li>
  <% end %>
</ul>
<a href="/bookmarks/new">Add a bookmark</a>
